<main class="content">

  <h1>Stop Watch</h1>

  <div class="progress-wrapper">

    <div class="text" *ngIf="!isFinished">
      {{retainMinutes | number: '2.0-0'}} : {{retainSeconds | number:'2.0-0'}}
    </div>

    <div class="text" *ngIf="isFinished">
      ding!
      <audio src="assets/chime.mp3" autoplay></audio>
    </div>

    <round-progress
      [max]="maxSeconds"
      [current]="currentSeconds"
      [radius]="100"
      [stroke]="25">
    </round-progress>

  </div>

  <div class="controls-wrapper">

    <label>Minutes</label>

    <div class="btn-holders">
      <button class="predefined-minutes"
              *ngFor="let pre of predefinedMinutes"
              (click)="maxMinutes = pre">
        {{pre}}
      </button>
    </div>

    <input class="input" placeholder="number of minutes" type="text"
           [(ngModel)]="maxMinutes"
           (keydown)="reset()">

    <button class="start-btn" *ngIf="currentVal <= 0" (click)="start()">Start</button>
    <button class="finish-btn" *ngIf="!isFinished" (click)="finish()">Finish</button>
  </div>
</main>
